* {
    padding: 0; 
    margin: 0; 
    color: #333; 
    font-family: 'Montserrat', sans-serif;
}
p,h1,h2,h3,h4,h5,h6,ul,li,label {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none!important;
    color: #333;
}

li {
    list-style: none!important;
}

